## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [31]:
import pandas as pd
import numpy as np

In [32]:
df_2003_2017 = pd.read_csv('datasets/wastestats.csv')
df_2003_2017.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [33]:
df_2018_2019 = pd.read_csv('datasets/2018_2019_waste.csv')
df_2018_2019.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [34]:
energy_saved = pd.read_csv('datasets/energy_saved.csv', header = None)
energy_saved = energy_saved.iloc[3:]
energy_saved

,0,1,2,3,4,5
3,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
4,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
5,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [35]:
material = ['Plastic', 'Glass', 'Ferrous Metal', 'Non-Ferrous Metal', 'Paper']
energy_saved = ['5774 Kwh', '42 Kwh', '642 Kwh', '14000 Kwh', '4000 kWh']
crude_oil_saved = ['16 barrels', np.nan, '1.8 barrels', '40 barrels', '1.7 barrels']


cols = [material, energy_saved, crude_oil_saved]
labels = ['material', 'energy_saved', 'crude_oil_saved']

zipped = list(zip(labels, cols))
data = dict(zipped)
energy_df = pd.DataFrame(data)
print(energy_df)

            material energy_saved crude_oil_saved
0            Plastic     5774 Kwh      16 barrels
1              Glass       42 Kwh             NaN
2      Ferrous Metal      642 Kwh     1.8 barrels
3  Non-Ferrous Metal    14000 Kwh      40 barrels
4              Paper     4000 kWh     1.7 barrels

In [36]:
df_2003_2017['waste_type'].unique()

array(['Food', 'Paper/Cardboard', 'Plastics', 'C&D',
       'Horticultural waste', 'Wood', 'Ferrous metal',
       'Non-ferrous metal', 'Used slag', 'Ash & Sludge', 'Glass',
       'Textile/Leather', 'Scrap tyres',
       'Others (stones, ceramics & rubber etc.)', 'Total',
       'Others (stones, ceramics & rubber etc)', 'Food waste',
       'Construction Debris', 'Wood/Timber', 'Horticultural Waste',
       'Ferrous Metal', 'Non-ferrous Metals', 'Used Slag', 'Sludge',
       'Scrap Tyres', 'Ferrous Metals', 'Others', 'Construction debris',
       'Non-ferrous metals', 'Ash and sludge', 'Plastic',
       'Others (stones, ceramic, rubber, etc.)'], dtype=object)

In [37]:
mat_concern = ['Plastics', 'Ferrous metal', 'Non-ferrous metal', 'Glass', 'Ferrous Metal', 'Non-ferrous Metals', 'Ferrous Metals', 'Non-ferrous metals', 'Plastic']
mask = df_2003_2017.apply(lambda row: row['waste_type'] in set(mat_concern), axis = 1)

In [38]:
df_2003_2017 = df_2003_2017[mask].reset_index().drop('index', axis = 1)
df_2003_2017

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Plastics,762700,59500.0,822200,0.07,2016
1,Ferrous metal,6000,1351500.0,1357500,0.99,2016
2,Non-ferrous metal,1300,95900.0,97200,0.99,2016
3,Glass,57600,14700.0,72300,0.20,2016
4,Plastics,766800,57800.0,824600,0.07,2015
5,Ferrous metal,15200,1333300.0,1348500,0.99,2015
6,Non-ferrous metal,19600,160400.0,180000,0.89,2015
7,Glass,60600,14600.0,75200,0.19,2015
8,Plastics,789000,80000.0,869000,0.09,2014
9,Ferrous metal,57000,1388900.0,1445900,0.96,2014
10,Non-ferrous metal,23700,94700.0,118400,0.80,2014
11,Glass,63800,15700.0,79500,0.20,2014
12,Plastics,741100,91100.0,832200,0.11,2013
13,Ferrous Metal,46800,1369200.0,1416000,0.97,2013
14,Non-ferrous Metals,21100,114000.0,135100,0.84,2013
15,Glass,58900,14600.0,73500,0.20,2013
16,Plastics,721300,82100.0,803400,0.10,2012
17,Ferrous Metal,54800,1331200.0,1386000,0.96,2012
18,Non-ferrous Metals,25200,97300.0,122500,0.79,2012
19,Glass,55400,19500.0,74900,0.26,2012
20,Plastics,656000,77000.0,733000,0.11,2011
21,Ferrous Metal,67600,1171600.0,1239200,0.95,2011
22,Non-ferrous Metals,14500,102800.0,117300,0.88,2011
23,Glass,51400,21400.0,72800,0.29,2011
24,Plastics,662300,78100.0,740400,0.11,2010
25,Ferrous Metal,67100,1127500.0,1194600,0.94,2010
26,Non-ferrous Metals,12400,73100.0,85500,0.85,2010
27,Glass,60700,19200.0,79900,0.24,2010
28,Plastics,628600,60300.0,688900,0.09,2009
29,Ferrous Metal,65800,806200.0,872000,0.92,2009
30,Non-ferrous Metals,10100,47500.0,57600,0.82,2009
31,Glass,57500,15600.0,73100,0.21,2009
32,Plastics,623200,61200.0,684400,0.09,2008
33,Ferrous Metal,49800,735000.0,784800,0.94,2008
34,Non-ferrous Metals,13000,72000.0,85000,0.85,2008
35,Glass,47100,10000.0,57100,0.18,2008
36,Plastics,584800,75000.0,659800,0.11,2007
37,Ferrous Metal,68500,668000.0,736500,0.91,2007
38,Non-ferrous Metals,16700,75600.0,92300,0.82,2007
39,Glass,59500,5800.0,65300,0.09,2007
40,Plastics,579000,77800.0,656800,0.12,2006
41,Ferrous Metals,68500,657400.0,725900,0.91,2006
42,Non-ferrous Metals,16000,70700.0,86700,0.82,2006
43,Glass,56600,6400.0,63000,0.10,2006
44,Plastics,588800,86000.0,674800,0.13,2005
45,Ferrous Metals,69200,749100.0,818300,0.92,2005
46,Non-ferrous Metals,14700,74700.0,89400,0.84,2005
47,Glass,58800,3800.0,62600,0.06,2005
48,Plastics,609000,74100.0,683100,0.11,2004
49,Ferrous Metals,70300,649900.0,720200,0.90,2004
50,Non-ferrous Metals,15100,71800.0,86900,0.83,2004
51,Glass,68700,4900.0,73600,0.07,2004
52,Plastics,540800,39100.0,579900,0.07,2003
53,Ferrous Metals,57700,799000.0,856700,0.93,2003
54,Non-ferrous Metals,18100,75800.0,93900,0.81,2003
55,Glass,59300,6200.0,65500,0.09,2003
56,Ferrous metal,7800,1371000.0,1378800,0.99,2017
57,Non-ferrous metals,1500,92200.0,93700,0.98,2017
58,Glass,58900,12400.0,71300,0.17,2017
59,Plastic,763400,51800.0,815200,0.06,2017

In [39]:
df_2003_2017[df_2003_2017['waste_type'] == 'Plastics']

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Plastics,762700,59500.0,822200,0.07,2016
4,Plastics,766800,57800.0,824600,0.07,2015
8,Plastics,789000,80000.0,869000,0.09,2014
12,Plastics,741100,91100.0,832200,0.11,2013
16,Plastics,721300,82100.0,803400,0.10,2012
20,Plastics,656000,77000.0,733000,0.11,2011
24,Plastics,662300,78100.0,740400,0.11,2010
28,Plastics,628600,60300.0,688900,0.09,2009
32,Plastics,623200,61200.0,684400,0.09,2008
36,Plastics,584800,75000.0,659800,0.11,2007
40,Plastics,579000,77800.0,656800,0.12,2006
44,Plastics,588800,86000.0,674800,0.13,2005
48,Plastics,609000,74100.0,683100,0.11,2004
52,Plastics,540800,39100.0,579900,0.07,2003

In [40]:
years_concern = [2015, 2016, 2017, 2018, 2019]
mask = df_2003_2017.apply(lambda row: row['year'] in set(years_concern), axis = 1)
final_df = df_2003_2017[mask].reset_index().drop('index', axis =1)
final_df

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Plastics,762700,59500.0,822200,0.07,2016
1,Ferrous metal,6000,1351500.0,1357500,0.99,2016
2,Non-ferrous metal,1300,95900.0,97200,0.99,2016
3,Glass,57600,14700.0,72300,0.20,2016
4,Plastics,766800,57800.0,824600,0.07,2015
5,Ferrous metal,15200,1333300.0,1348500,0.99,2015
6,Non-ferrous metal,19600,160400.0,180000,0.89,2015
7,Glass,60600,14600.0,75200,0.19,2015
8,Ferrous metal,7800,1371000.0,1378800,0.99,2017
9,Non-ferrous metals,1500,92200.0,93700,0.98,2017
10,Glass,58900,12400.0,71300,0.17,2017
11,Plastic,763400,51800.0,815200,0.06,2017

In [41]:
##Correction of total waste recycled and waste disposed figures using the recycling rate
#final_df['total_waste_recycled_tonne'] = final_df.apply(lambda row: row['total_waste_generated_tonne'] * row['recycling_rate'], axis = 1)
#final_df

In [42]:
final_df['waste_disposed_of_tonne'] = final_df.apply(lambda row: row['total_waste_generated_tonne'] *(1 - row['recycling_rate']), axis = 1)
final_df

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Plastics,764646.0,59500.0,822200,0.07,2016
1,Ferrous metal,13575.0,1351500.0,1357500,0.99,2016
2,Non-ferrous metal,972.0,95900.0,97200,0.99,2016
3,Glass,57840.0,14700.0,72300,0.20,2016
4,Plastics,766878.0,57800.0,824600,0.07,2015
5,Ferrous metal,13485.0,1333300.0,1348500,0.99,2015
6,Non-ferrous metal,19800.0,160400.0,180000,0.89,2015
7,Glass,60912.0,14600.0,75200,0.19,2015
8,Ferrous metal,13788.0,1371000.0,1378800,0.99,2017
9,Non-ferrous metals,1874.0,92200.0,93700,0.98,2017
10,Glass,59179.0,12400.0,71300,0.17,2017
11,Plastic,766288.0,51800.0,815200,0.06,2017

In [43]:
energy_list = [5774, 642, 14000, 42, 5774, 642, 14000, 42, 642, 14000, 42, 5774]
#len(energy_list)
final_df['energy_saved_per_tonne'] = energy_list
final_df

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year,energy_saved_per_tonne
0,Plastics,764646.0,59500.0,822200,0.07,2016,5774
1,Ferrous metal,13575.0,1351500.0,1357500,0.99,2016,642
2,Non-ferrous metal,972.0,95900.0,97200,0.99,2016,14000
3,Glass,57840.0,14700.0,72300,0.20,2016,42
4,Plastics,766878.0,57800.0,824600,0.07,2015,5774
5,Ferrous metal,13485.0,1333300.0,1348500,0.99,2015,642
6,Non-ferrous metal,19800.0,160400.0,180000,0.89,2015,14000
7,Glass,60912.0,14600.0,75200,0.19,2015,42
8,Ferrous metal,13788.0,1371000.0,1378800,0.99,2017,642
9,Non-ferrous metals,1874.0,92200.0,93700,0.98,2017,14000
10,Glass,59179.0,12400.0,71300,0.17,2017,42
11,Plastic,766288.0,51800.0,815200,0.06,2017,5774

In [44]:
final_df['total_energy_saved'] = final_df.apply(lambda row: row['total_waste_recycled_tonne'] * row['energy_saved_per_tonne'], axis =1)
final_df

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year,energy_saved_per_tonne,total_energy_saved
0,Plastics,764646.0,59500.0,822200,0.07,2016,5774,3.435530e+08
1,Ferrous metal,13575.0,1351500.0,1357500,0.99,2016,642,8.676630e+08
2,Non-ferrous metal,972.0,95900.0,97200,0.99,2016,14000,1.342600e+09
3,Glass,57840.0,14700.0,72300,0.20,2016,42,6.174000e+05
4,Plastics,766878.0,57800.0,824600,0.07,2015,5774,3.337372e+08
5,Ferrous metal,13485.0,1333300.0,1348500,0.99,2015,642,8.559786e+08
6,Non-ferrous metal,19800.0,160400.0,180000,0.89,2015,14000,2.245600e+09
7,Glass,60912.0,14600.0,75200,0.19,2015,42,6.132000e+05
8,Ferrous metal,13788.0,1371000.0,1378800,0.99,2017,642,8.801820e+08
9,Non-ferrous metals,1874.0,92200.0,93700,0.98,2017,14000,1.290800e+09
10,Glass,59179.0,12400.0,71300,0.17,2017,42,5.208000e+05
11,Plastic,766288.0,51800.0,815200,0.06,2017,5774,2.990932e+08

In [45]:
final_df_1 = final_df[['waste_type', 'total_energy_saved', 'year']]
final_df_1

            waste_type  total_energy_saved  year
0             Plastics        3.435530e+08  2016
1        Ferrous metal        8.676630e+08  2016
2    Non-ferrous metal        1.342600e+09  2016
3                Glass        6.174000e+05  2016
4             Plastics        3.337372e+08  2015
5        Ferrous metal        8.559786e+08  2015
6    Non-ferrous metal        2.245600e+09  2015
7                Glass        6.132000e+05  2015
8        Ferrous metal        8.801820e+08  2017
9   Non-ferrous metals        1.290800e+09  2017
10               Glass        5.208000e+05  2017
11             Plastic        2.990932e+08  2017

In [46]:
df_2018_2019

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019
5,Wood,438,289,2019
6,Horticultural,400,293,2019
7,Ash & Sludge,252,25,2019
8,Textile/Leather,168,6,2019
9,Used Slag,129,127,2019
10,Non-Ferrous Metal,126,124,2019
11,Glass,75,11,2019
12,Scrap Tyres,33,31,2019
13,"Others (stones, ceramic, rubber, ect)",210,15,2019
14,Overall,7234,4247,2019
15,Construction& Demolition,1624,1618,2018
16,Ferrous Metal,1269,126,2018
17,Paper/Cardboard,1054,586,2018
18,Plastics,949,41,2018
19,Food,763,126,2018
20,Wood,521,428,2018
21,Horticultural,320,227,2018
22,Ash & Sludge,240,25,2018
23,Textile/Leather,220,14,2018
24,Used Slag,181,179,2018
25,Non-Ferrous Metal,171,170,2018
26,Glass,64,12,2018
27,Scrap Tyres,32,29,2018
28,"Others (stones, ceramic, rubber, ect)",286,11,2018
29,Overall,7695,4726,2018

In [47]:
df_2018_2019['Year'].unique()

array([2019, 2018])

In [48]:
df_2018_2019['Waste Type'].unique()

array(['Construction& Demolition', 'Ferrous Metal', 'Paper/Cardboard',
       'Plastics', 'Food', 'Wood', 'Horticultural', 'Ash & Sludge',
       'Textile/Leather', 'Used Slag', 'Non-Ferrous Metal', 'Glass',
       'Scrap Tyres', 'Others (stones, ceramic, rubber, ect)', 'Overall'],
      dtype=object)

In [49]:
mat_concern = ['Glass', 'Plastics', 'Ferrous Metal', 'Non-Ferrous Metal']

mask = df_2018_2019.apply(lambda row: row['Waste Type'] in set(mat_concern), axis = 1)
df_concern = df_2018_2019[mask].reset_index().drop('index', axis = 1)
df_concern

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Ferrous Metal,1278,1270,2019
1,Plastics,930,37,2019
2,Non-Ferrous Metal,126,124,2019
3,Glass,75,11,2019
4,Ferrous Metal,1269,126,2018
5,Plastics,949,41,2018
6,Non-Ferrous Metal,171,170,2018
7,Glass,64,12,2018

In [50]:
df_concern.rename(columns = {
    'Total Generated (\'000 tonnes)': 'Total Generated',
    'Total Recycled (\'000 tonnes)': 'Total Recycled',
    'Year': 'year'
    
}, inplace = True)

In [51]:
df_concern['Total Generated'] = df_concern.apply(lambda row: row['Total Generated'] * 1000, axis = 1)
df_concern['Total Recycled'] = df_concern.apply(lambda row: row['Total Recycled'] * 1000, axis = 1)
df_concern

          Waste Type  Total Generated  Total Recycled  year
0      Ferrous Metal          1278000         1270000  2019
1           Plastics           930000           37000  2019
2  Non-Ferrous Metal           126000          124000  2019
3              Glass            75000           11000  2019
4      Ferrous Metal          1269000          126000  2018
5           Plastics           949000           41000  2018
6  Non-Ferrous Metal           171000          170000  2018
7              Glass            64000           12000  2018

In [52]:
energy_df

            material energy_saved crude_oil_saved
0            Plastic     5774 Kwh      16 barrels
1              Glass       42 Kwh             NaN
2      Ferrous Metal      642 Kwh     1.8 barrels
3  Non-Ferrous Metal    14000 Kwh      40 barrels
4              Paper     4000 kWh     1.7 barrels

In [53]:
energy_list = [642, 5774, 14000, 42, 642, 5774, 14000, 42]
df_concern['energy_saved_per_tonne'] = energy_list
df_concern

,Waste Type,Total Generated,Total Recycled,year,energy_saved_per_tonne
0,Ferrous Metal,1278000,1270000,2019,642
1,Plastics,930000,37000,2019,5774
2,Non-Ferrous Metal,126000,124000,2019,14000
3,Glass,75000,11000,2019,42
4,Ferrous Metal,1269000,126000,2018,642
5,Plastics,949000,41000,2018,5774
6,Non-Ferrous Metal,171000,170000,2018,14000
7,Glass,64000,12000,2018,42

In [54]:
df_concern['total_energy_saved'] = df_concern.apply(lambda row: row['Total Recycled'] * row['energy_saved_per_tonne'], axis = 1)
final_df_2 = df_concern[['Waste Type', 'total_energy_saved', 'year']]
final_df_2

          Waste Type  total_energy_saved  year
0      Ferrous Metal           815340000  2019
1           Plastics           213638000  2019
2  Non-Ferrous Metal          1736000000  2019
3              Glass              462000  2019
4      Ferrous Metal            80892000  2018
5           Plastics           236734000  2018
6  Non-Ferrous Metal          2380000000  2018
7              Glass              504000  2018

In [55]:
final_df_1

            waste_type  total_energy_saved  year
0             Plastics        3.435530e+08  2016
1        Ferrous metal        8.676630e+08  2016
2    Non-ferrous metal        1.342600e+09  2016
3                Glass        6.174000e+05  2016
4             Plastics        3.337372e+08  2015
5        Ferrous metal        8.559786e+08  2015
6    Non-ferrous metal        2.245600e+09  2015
7                Glass        6.132000e+05  2015
8        Ferrous metal        8.801820e+08  2017
9   Non-ferrous metals        1.290800e+09  2017
10               Glass        5.208000e+05  2017
11             Plastic        2.990932e+08  2017

In [56]:
df_2015_2016_2017 = final_df_1.groupby('year')['total_energy_saved'].sum()
df_2015_2016_2017 = df_2015_2016_2017.to_frame()
df_2015_2016_2017

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09

In [57]:
df_2018_2019 = final_df_2.groupby('year')['total_energy_saved'].sum()
df_2018_2019 = df_2018_2019.to_frame()
df_2018_2019

      total_energy_saved
year
2018          2698130000
2019          2765440000

In [58]:
#df_2018_2019.rename(columns = {'Energy Saved': 'total_energy_saved'}, inplace = True)
#df_2018_2019

In [59]:
frames = [df_2015_2016_2017, df_2018_2019]
annual_energy_savings = pd.concat(frames)
annual_energy_savings

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09
2018        2.698130e+09
2019        2.765440e+09